<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadoLiebre</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header>
        <div class="header-conteiner">
            <div class="conteiner">
                <img src="/images/logo-mercado-liebre.svg" id="logo" alt="logo">
                <input type="text" placeholder="Buscar productos, marcas">
                <button class="botton-header" type="submit"><i class="fas fa-search"></i></button>

            </div>

            <h4 id="card">Compra en cuotas y sin tarjeta de crédito <i class="fas fa-hand-holding-usd"></i></h4>
        </div>
        <nav class="header-nav-bar">
            <ul class="nav-bar">
                <li><a href="http://">Ofertas</a></li>
                <li><a href="http://">Tiendas Oficiales</a></li>
                <li><a href="http://">Vender</a></li>
                <li><a href="http://">Ayuda</a></li>
            </ul>

            <ul class="log-bar">
                <li><a href="http://localhost:3030/register">Crea tu cuenta </a><i class="fas fa-address-card"></i></li>
                <li><a href="http://localhost:3030/login">Ingresa </a><i class="fas fa-sign-in-alt"></i></li>
                <li><a href="http://">Mis compras </a><i class="fas fa-shopping-cart"></i></li>
            </ul>
        </nav>

        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>

    </header>
    <main>
        <img class="banner" src="/images/img-home-banner.jpg" alt="imagen-baner">
        <h3 class="title">Basado en tu última visita</h3>
        <section>

            <article class="product">
                <img class="img" src="/images/img-cafetera-moulinex.jpg" alt="imagen de cafetera">

                <div>
                    <i class="fas fa-truck"></i>
                    <p class="price">$6.770</p>
                    <p class="discount">40% OFF</p>
                    <p class="description">Cafetera Moulinex</p>
                </div>
            </article>

            <article class="product">
                <img class="img" src="/images/img-macbook-pro-2019.jpg" alt="imagen de MacBook">
                <div>
                    <i class="fas fa-truck"></i>
                    <p class="price">$230.000</p>
                    <p class="discount">20% OFF</p>
                    <p class="description">MacBook pro 2019</p>
                </div>
            </article>

            <article class="product">
                <img class="img" src="/images/img-samsung-galaxy-s10.jpg" alt="imagen de Samsung Galaxy">
                <div>
                    <i class="fas fa-truck"></i>
                    <p class="price">$70.500</p>
                    <p class="discount">10% OFF</p>
                    <p class="description">Samsung Galaxy S10</p>
                </div>
            </article>

            <article class="product">
                <img class="img" src="/images/img-tv-samsung-smart.jpg" alt="imagen de SmartTv">
                <div>
                    <i class="fas fa-truck"></i>
                    <p class="price">$23.200</p>
                    <p class="discount">5% OFF</p>
                    <p class="description">SmartTv Samsung 43"</p>
                </div>
            </article>

        </section>
        <h3 class="title">Ofertas</h3>
        <section>
            

            <article class="product">
                <img class="img" src="/images/img-cafetera-moulinex.jpg" alt="imagen de cafetera">
                <div>
                    <i class="fas fa-truck"></i>
                    <p class="price">$6.770</p>
                    <p class="discount">40% OFF</p>
                    <p class="description">Cafetera Moulinex</p>
                </div>
            </article>

            <article class="product">
                <img class="img" src="/images/img-macbook-pro-2019.jpg" alt="imagen de MacBook">
                <div>
                    <i class="fas fa-truck"></i>
                    <p class="price">$230.000</p>
                    <p class="discount">20% OFF</p>
                    <p class="description">MacBook pro 2019</p>
                </div>
            </article>

            <article class="product">
                <img class="img" src="/images/img-samsung-galaxy-s10.jpg" alt="imagen de Samsung Galaxy">
                <div>
                    <i class="fas fa-truck"></i>
                    <p class="price">$70.500</p>
                    <p class="discount">10% OFF</p>
                    <p class="description">Samsung Galaxy S10</p>
                </div>
            </article>

            <article class="product">
                <img class="img" src="/images/img-tv-samsung-smart.jpg" alt="imagen de SmartTv">
                <div>
                    <i class="fas fa-truck"></i>
                    <p class="price">$23.200</p>
                    <p class="discount">5% OFF</p>
                    <p class="description">SmartTv Samsung 43"</p>
                </div>
            </article>

        </section>
    </main>
    <footer>

        <div>
            <i class="fas fa-credit-card"></i>
        <h5>pagá con tarjeta o en efectivo</h5>
        <p>
            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!
        </p>
        </div>

        <div>
            <i class="fas fa-gift"></i>
        <h5>Envío gratis desde $ 2.500</h5>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
        </div>

        <div><i class="fas fa-user-shield"></i>
            <h5>Seguridad, de principio a fin</h5>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
            </div>
        
    </footer>
    <h5>Copyright © 1999-2020 MercadoLiebre S.R.L.</h5>
</body>

</html>