<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>

    <header>
        <img src="/images/logo-mercado-liebre.svg" id="logo" alt="logo">
    </header>

    <main>

        <form action="" method="post">

            <input class="longger" type="text" name="usuario" placeholder="nombre de usuari@">
            <input class="longger" type="password" name="contraseña" placeholder="Contraseña">
            <button type="submit" id="send">Enviar</button>
        </form>
    </main>

    <footer>

        <div>
            <i class="fas fa-credit-card"></i>
            <h5>pagá con tarjeta o en efectivo</h5>
            <p>
                Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!
            </p>
        </div>

        <div>
            <i class="fas fa-gift"></i>
            <h5>Envío gratis desde $ 2.500</h5>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </div>

        <div><i class="fas fa-user-shield"></i>
            <h5>Seguridad, de principio a fin</h5>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </div>
        <h5>Copyright © 1999-2020 MercadoLiebre S.R.L.</h5>
    </footer>
    
</body>
</html>